[Unit]
Description=Mirakurun
Requires=docker.service
After=docker.service network.target
Conflicts=shutdown.target reboot.target halt.target

[Service]
Type=simple
RemainAfterExit=yes
Restart=on-failure
WorkingDirectory=<%= node[:chinachu][:src_path] %>
ExecStart=/usr/bin/docker-compose up -d mirakurun
ExecStop=/usr/bin/docker-compose stop mirakurun

[Install]
WantedBy=default.target
