/ansible/inventory.yml
/ansible/vault.yml
/compose/.env
/compose/backup/
/compose/epgstation/data/
/compose/epgstation/logs/
/compose/epgstation/runtime-config/
/compose/epgstation/thumbnail/
/compose/jellyfin/cache/
/compose/jellyfin/config/
/compose/mariadb/
/compose/mirakurun/config/
/compose/mirakurun/data/
/compose/mirakurun/opt/
/compose/mirakurun/run/
/compose/secrets/
