[Unit]
Description=EPGStation
Requires=docker.service
After=docker.service network.target
Conflicts=shutdown.target reboot.target halt.target

[Service]
Type=simple
RemainAfterExit=yes
Restart=on-failure
WorkingDirectory=<%= node[:epgstation][:src_path] %>
ExecStart=/usr/bin/docker-compose up
ExecStop=/usr/bin/docker-compose stop

[Install]
WantedBy=default.target
