TZ={{ timezone }}
MIRAKURUN_IMAGE={{ mirakurun_image }}
MARIADB_IMAGE={{ mariadb_image }}
JELLYFIN_IMAGE={{ jellyfin_image }}
RECORDED_ROOT={{ recorded_root }}
VIDEO_GROUP_ID={{ ansible_facts.getent_group.get('video', ['', '44'])[1] }}
RENDER_GROUP_ID={{ ansible_facts.getent_group.get('render', ['', '109'])[1] }}
