{% for share in samba_shares %}
[{{ share.name }}]
   path = {{ share.path }}
   browseable = yes
   read only = no
   guest ok = yes
   guest only = yes
   force user = {{ recording_user }}
   create mask = 0777
   directory mask = 0777

{% endfor %}
