TZ=Asia/Tokyo
MIRAKC_IMAGE=docker.io/mirakc/mirakc:3.4.81-debian
MARIADB_IMAGE=docker.io/library/mariadb:11.4
JELLYFIN_IMAGE=docker.io/jellyfin/jellyfin:latest
RECORDED_ROOT=/videos/recorded
VIDEO_GROUP_ID=44
RENDER_GROUP_ID=109
