TZ=Asia/Tokyo
MIRAKURUN_IMAGE=docker.io/chinachu/mirakurun:4.1.3
MARIADB_IMAGE=docker.io/library/mariadb:11.4
JELLYFIN_IMAGE=docker.io/jellyfin/jellyfin:latest
RECORDED_ROOT=/videos/recorded
VIDEO_GROUP_ID=44
RENDER_GROUP_ID=109
