[Unit]
Description=SoftEther VPN Server
After=network.target

[Service]
Type=forking
ExecStart=#{node[:l2tp_ipsec_vpn_server][:install_directory]}/vpnserver start
ExecStop=#{node[:l2tp_ipsec_vpn_server][:install_directory]}/vpnserver stop

[Install]
WantedBy=multi-user.target
