# Software Configuration File
# ---------------------------
#
# You may edit this file when the VPN Server / Client / Bridge program is not running.
#
# In prior to edit this file manually by your text editor,
# shutdown the VPN Server / Client / Bridge background service.
# Otherwise, all changes will be lost.
#
declare root
{
	bool DisableRelayServer false
	bool DontSavePassword false
	bool EnableVPNGateService false
	bool HideVPNGateServiceMessage false
	bool PasswordRemoteOnly false
	uint UseSecureDeviceId 0

	declare AccountDatabase
	{
		declare Account0
		{
			bool CheckServerCert false
			uint64 CreateDateTime 1500254062991
			uint64 LastConnectDateTime 1500254627239
			bool StartupAccount false
			uint64 UpdateDateTime 1500254604086

			declare ClientAuth
			{
				uint AuthType 1
				byte HashedPassword <%= @auth_password %>
				string Username <%= node[:l2tp_ipsec_vpn_client][:user] %>
			}
			declare ClientOption
			{
				string AccountName VPN
				uint AdditionalConnectionInterval 1
				uint ConnectionDisconnectSpan 0
				string DeviceName VPN
				bool DisableQoS false
				bool HalfConnection false
				bool HideNicInfoWindow false
				bool HideStatusWindow false
				string Hostname <%= node[:l2tp_ipsec_vpn_client][:server] %>
				string HubName VPN
				uint MaxConnection 1
				bool NoRoutingTracking false
				bool NoTls1 false
				bool NoUdpAcceleration false
				uint NumRetry 4294967295
				uint Port 443
				uint PortUDP 0
				string ProxyName $
				byte ProxyPassword $
				uint ProxyPort 0
				uint ProxyType 0
				string ProxyUsername $
				bool RequireBridgeRoutingMode false
				bool RequireMonitorMode false
				uint RetryInterval 15
				bool UseCompress false
				bool UseEncrypt true
			}
		}
	}
	declare ClientManagerSetting
	{
		bool EasyMode false
		bool LockMode false
	}
	declare CommonProxySetting
	{
		string ProxyHostName $
		uint ProxyPort 0
		uint ProxyType 0
		string ProxyUsername $
	}
	declare Config
	{
		bool AllowRemoteConfig false
		uint64 AutoDeleteCheckDiskFreeSpaceMin 104857600
		string KeepConnectHost keepalive.softether.org
		uint KeepConnectInterval 50
		uint KeepConnectPort 80
		uint KeepConnectProtocol 1
		bool NoChangeWcmNetworkSettingOnWindows8 false
		bool UseKeepConnect false
	}
	declare RootCA
	{
	}
	declare UnixVLan
	{
		declare VPN
		{
			bool Enabled true
			string MacAddress 00-AC-48-AE-A7-AA
		}
	}
}
